<html>
  <body class="login-bg">
    <div class="login">
      <div class="heading">
        <h2>Welcome</h2>

          <%= form_tag sessions_path do %>

          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= text_field_tag :email, params[:email], class:"form-control", autocomplete:"off" %>
          </div>

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= password_field_tag :password, params[:password], class:"form-control" %>
              </div>

            <button type="submit" class="float">Let me in</button>
          <% end %>  
       </div>
     </div>
  </body>
</html>

