<!DOCTYPE html>
<% provide(:title, "") %>
<html>
<!--   <head>
  </head> -->
  <body>
	<div class="navbar navbar-static-top masthead navbar-top " role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
<!-- 					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> -->
					<img src="http://www.defensivecarry.com/customavatars/avatar21080_1.gif" class="img-circle special-img">
				</button>
<!-- 				<a class="navbar-brand" href="#">HRxpress</a> -->
					<p id="logo">crew<span><b>HR</b></span></p>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse" id="top-nav">
				<ul class="nav navbar-nav navbar-right">
              <li><%= link_to '<i class="fa fa-sign-out" style="font-size: 20px;"></i> Logout'.html_safe, logout_path %></li>
					<img src="http://www.defensivecarry.com/customavatars/avatar21080_1.gif" class="img-circle special-img">

					<!-- <li class="active"><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li> -->
<!--                     <li>
                     <%= link_to "<i class='fa fa-sign-out' style='font-size: 20px;'></i><span class='link-text'>&nbsp; Logout</span>".html_safe, logout_path %>
                    </li> -->
          
<!--           <img src="http://www.defensivecarry.com/customavatars/avatar21080_1.gif" class="img-circle special-img"> -->
			</div>
		</div>
	</div>	





<!-- Sidebar -->
<div id="sidebar" role="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


    <div id="sidebar-nav">
                <ul class="nav nav-stacked">

                    <li><a href="#"> <i class="fa fa-home" style="font-size: 20px;"></i><span class="link-text">&nbsp; &nbsp; HOME</a></li>
                    <li><a href="#"> <i class="fa fa-star" style="font-size: 20px;"></i><span class="link-text">&nbsp; &nbsp; MY PROFILE</a></li>
                    <li><a href="#"> <i class="fa fa-users" style="font-size: 20px;"></i><span class="link-text">&nbsp; &nbsp; MY TEAM</a></li>
                    <li><a href="#"> <i class="fa fa-sitemap" style="font-size: 20px;"></i><span class="link-text">&nbsp; &nbsp; DIRECTORY</a></li>
<!--                     <li><a href="#"> <i class="fa fa-sign-out" style="font-size: 20px;"></i><span class="link-text">&nbsp; &nbsp; LOG OUT</a></li> -->
                    
<!--                      <%= link_to "<i class='fa fa-sign-out' style='font-size: 20px;'></i><span class='link-text'>&nbsp; &nbsp; LOG OUT</span>".html_safe, logout_path %> -->

                </ul>
    </div>
</div>
<!-- Sidebar End -->



  </body>
</html>