<!DOCTYPE html>
<html>
<head>
  <title>crewHR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 	<div id="container">
		<div id="user_header">
			<% if current_user %>
				Logged in as <%= current_user.email %>
				<%= link_to "Log Out", logout_path %>
			<% else %>
				<%= link_to "Sign Up", signup_path %> or
				<%= link_to "Log In", login_path %>
			<% end %>	
		</div> -->

<!-- 		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %> -->

<%= yield %>

</body>
</html>
